h5 {
  font-style: italic;
}

p {
  font-family: sans-serif;
}

#myFirstDiv {
  background-color: #cccccc;
  color: black;
  margin: 15px;
  padding: 15px;
  font-family: sans-serif;
  border-radius: 20px;
}

img {
  height: 300px;
  width: 300px;
}

li a {
  color: yellow;
}

.notTestClass {
  margin-left: 20px;
}

.photo {
  height: 150px;
  width: 150px;
  background-image: url('https://db.tt/as1GV6hw');
  background-size: 100%;
}

#info {
  background: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  font: bold, 10px;
  position: relative;
  top: -400px;
  width: auto;
  display: inline;
  margin-left: 10px;
	}
